<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script>

    var taskID;
    dust.helpers.formatDate = function (chunk, context, bodies, params) {
    var value = dust.helpers.tap(params.value, chunk, context);

    var timestamp = new Date(value);
    var date = ('0' + timestamp.getDate()).slice(-2);
    var month = ('0' + timestamp.getMonth()).slice(-2);
    var year = timestamp.getFullYear();

    return chunk.write(date + '-' + month + '-' + year);
};
   
    $(function() {


        var container = d3.select('.today_tasks');
        $.getJSON('tasks.json', function(data) {
            function template() {
                return ' <div class="task" id= "task{{ id }}" draggable="true"> <div class="title">{{ action }}</div> <div> {{ name }}, reschedule_count: {{ reschedule_count }}, trial_count: {{ trial_count }} </div><div class="time">{{ actionable_at }} </div></div> ';
            }
            var divs = container.selectAll('div')
            .data(data);
            divs.enter().append('div').html(function(d,i){
                 var result;
                dust.render("task", d, function(err, out) {
                    result = out;
                });
                return(result);
            });
            divs.exit().remove();
       });

        $( "#Reschedule" ).dialog({ 
            position: { my: "center", at: "center", of: ".reschedule_box" },
            autoOpen: false,  
            resizable: false,
            height:150,
            width:150,
            modal: true
        });


        $(document).on("click", "body", function(){
            taskID = '';
            $('#Reschedule').dialog('close');
        });

        $(document).on("dragstart", ".task", function(e){
            var id = e.target.getAttribute('id')
           
            e.originalEvent.dataTransfer.setData("text/plain", id); 
        });



        $(document).on("dragover", ".drop_box", function(e){
            e.preventDefault();
        });



        $(document).on("drop", ".drop_done, .drop_cancel", function(e){
            e.preventDefault();
            var id = e.originalEvent.dataTransfer.getData("text/plain");
            $('#' + id).remove();

            $(this).append(GetDroppedTask(id));

        });

        $(document).on("drop", ".drop_reschedule", function(e){
            e.preventDefault();
            taskID = e.originalEvent.dataTransfer.getData("text/plain");
            $('#Reschedule').dialog('open');
        });



        $('.date_radio').click(function() {

            var val = $(this).val();

            if(val == 'today')

            {

                $('.today_tasks').show();

                $('.alldays_tasks').hide();

            }

            else

            {

                $('.today_tasks').hide();

                $('.alldays_tasks').show();

            }

        });



        $('.reschedule_img').click(function() {

            var data = GetDroppedTask(taskID);



            $('#' + taskID).remove();

            $('.drop_reschedule').append(data);

        });





    });



    function GetDroppedTask(id)
    {
        var title = $('#'+ id + ' .title').text();
        return '<div id="' + id + '" class="drop_data">' + title + '</div>'
    }



</script>



<body>
    <div class="align_left">

        <div class="date_selection">

            <span class="chkb_date">

                <input type="radio" class="date_radio" name="date_selection" value="today" checked/> Today

            </span>

            <span class="chkb_date">

                <input type="radio" class="date_radio" name="date_selection" value="alldays"/> All Days

            </span>

        </div>

        <div class="tasks_container">

            <div class="today_tasks">

                <h2> Today tasks </h2>

           </div>

            <div class="alldays_tasks" style="display:none;">

                <h2> All days tasks </h2>

                <div class="task" id="task33" draggable="true">

                    <span class="title">Test</span>

                </div>

                <div class="task" id="task34" draggable="true">

                    <span class="title">Test</span>

                </div>

                <div class="task" id="task35" draggable="true">

                    <span class="title">Test</span>

                </div>

            </div>

        </div>

    </div>

    <div class="align_right">

        <div class="status_container">

            <div class="status_box done_box">

                <span class="status_title">Done</span>

                <div class="drop_box drop_done" data-status="done">

                </div>

            </div>

            <div class="status_box reschedule_box">

                <span class="status_title">Reschedule</span>

                <div class="drop_box drop_reschedule" data-status="reschedule">

                </div>

            </div>

            <div class="status_box cancel_box">

                <span class="status_title">Cancel</span>

                <div class="drop_box drop_cancel" data-status="cancel">

                </div>

            </div>

        </div>

    </div>



    <div id="Reschedule">

        <div>

            <span><img class="reschedule_img" src="./Images/icon1.gif" data-time="today"/></span>

            <span><img class="reschedule_img" src="./Images/icon2.gif" data-time="tomorrow"/></span>

        </div>

    </div>





    <style>

        body

        {

            font-weight: normal;

            font-family: Arial,Helvetica,sans-serif;

        }

        .align_left

        {

            float: left;

            width: 70%;

        }

        .align_right

        {

            float: right;

            width:30%;

        }

        .date_selection

        {

            width:300px;

            margin:0 auto;

        }

        .chkb_date

        {

            padding: 0 35px;

        }

        .tasks_container

        {

            width:450px; 

            margin:0 auto;

        }

        .task

        {

            color: #676767;

            font-size: 12px;

            border: 1px solid #676767;

            height: 50px;

            padding: 10px 5px;

            margin: 10px;

        }

        .status_container

        {

            width:70%;

            margin:0 auto;

        }

        .status_box

        {

            width:100%;

            padding: 10px 0;

        }

        .status_title

        {

            font-size: 13px;

            font-weight: bold;

        }

        .drop_box

        {

            width:100%;

            height:100px;



        }

        .done_box .drop_box

        {

            border: 1px solid green;

        }

        .reschedule_box .drop_box

        {

            border: 1px solid orange;

        }

        .cancel_box .drop_box

        {

            border: 1px solid red;

        }

        .done_box .status_title

        {

            color:green;

        }

        .reschedule_box .status_title

        {

            color:orange;

        }

        .cancel_box .status_title

        {

            color:red;

        }

        .drop_data

        {

            padding:5px 3px;

            margin:4px 0;

            color: #676767;

            font-size: 10px;

        }

        .done_box .drop_data

        {

            background-color: #e6f3e2;

        }

        .reschedule_box .drop_data

        {

            background-color: #fde0b5;

        }

        .cancel_box .drop_data

        {

            background-color: #facdc0;

        }







        .ui-widget-header 

        {

            display:none !important;

        }



    </style>



</body>


