<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script>

    var taskID;
    dust.helpers.formatDate = function (chunk, context, bodies, params) {
        var value = dust.helpers.tap(params.value, chunk, context);
        var timestamp = new Date(value);
       return chunk.write(getDateTimeFormat(timestamp));
    };
       
    $(function() {
        var container = d3.select('.today_tasks');
        function reloadData(){
            $.getJSON('tasks.json', function(data) {
                function createHtml(d, i) {
                    var result;
                    dust.render("task", d, function(err, out) {
                        result = out;
                    });
                    return result;
                }
                var divs = container.selectAll('.task-container').data(data).html(createHtml);
                divs.enter().append('div').attr('class', 'task-container').html(createHtml);
                divs.exit().remove();
            });
        }
        reloadData();

        $( "#Reschedule" ).dialog({ 
            position: { my: "center", at: "center", of: ".reschedule_box" },
            autoOpen: false,  
            resizable: false,
            height:150,
            width:150,
            modal: true
        });


        $(document).on("click", "body", function(){
            taskID = '';
            $('#Reschedule').dialog('close');
        });

        $(document).on("dragstart", ".task", function(e){
            var id = e.target.getAttribute('id')
            e.originalEvent.dataTransfer.setData("text/plain", id); 
        });



        $(document).on("dragover", ".drop_box", function(e){
            e.preventDefault();
        });



        $('.drop_done,.drop_cancel').on('drop', function(e) {
            function getTask(id) {
                var title = $('#'+ id + ' .title').text();
                return '<div id="' + id + '" class="drop_data">' + title + '</div>'
            }

            e.preventDefault();
            var id = e.originalEvent.dataTransfer.getData("text/plain");
            $(this).append(getTask(id));
            var recordId = id.replace('task', '');
            $.getJSON('/records/' + recordId + '/move_to_next_stage.json', function(data) {
                $('#' + taskID).remove();
                $('.drop_reschedule').append(getProcessedTask(data));
            });
            reloadData();
        });

        $('.drop_reschedule').on('drop', function(e) {
            e.preventDefault();
            taskID = e.originalEvent.dataTransfer.getData("text/plain");
            $('#Reschedule').dialog('open');
        });



        $('.date_radio').click(function() {
            var val = $(this).val();
            if(val == 'today')
            {
                $('.today_tasks').show();
                $('.alldays_tasks').hide();
            }
            else
            {
                $('.today_tasks').hide();
                $('.alldays_tasks').show();
            }
        });

        $('.reschedule_time').click(function() {
            var recordId = taskID.replace('task', '');
            var rescheduleTime = $(this).attr('data-reschedule')
            var timeInSec = 0;
            if(rescheduleTime == 'same_day')
                timeInSec = 3600;
            else if(rescheduleTime == 'tomorrow')
                timeInSec = 3600 * 24;
            
            $.getJSON('/records/' + recordId + '/reschedule_in_sec.json?delay=' + timeInSec, function(data) {
                $('#' + taskID).remove();
                $('.drop_reschedule').append(getProcessedTask(data));
            });
            reloadData();
        });
    });

    function getDateTimeFormat(date)
    {
        return getDateFormat(date) + ' ' + getTimeFormat(date);
    }   

    function getDateFormat(date)
    {
        var day = ('0' + date.getDate()).slice(-2);
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var year = date.getFullYear();
        return day + '-' + month + '-' + year;
    }

    function getTimeFormat(date)
    {
        var hours = ('0' + (date.getHours() + 1)).slice(-2);
        var minutes = ('0' + (date.getMinutes() + 1)).slice(-2);
        return hours + ':' + minutes;
    }

    function isNotSameDay(date1, date2)
    {
        return(date1.getDate() != date2.getDate() || 
               date1.getMonth() != date2.getMonth() || 
               date1.getFullYear() != date2.getFullYear());
    }


    function getProcessedTask(data)
    {
        var formatedDate = '';
        if(isNotSameDay(new Date(), new Date(data.actionable_at)))
            formatedDate = getDateTimeFormat(new Date(data.actionable_at));
        else
            formatedDate = getTimeFormat(new Date(data.actionable_at));
        return '<div class="drop_data">' + data.name + formatedDate +'</div>'
    }

</script>



<body>
    <div class="align_left">

        <div class="date_selection">

            <span class="chkb_date">

                <input type="radio" class="date_radio" name="date_selection" value="today" checked/> Today

            </span>

            <span class="chkb_date">

                <input type="radio" class="date_radio" name="date_selection" value="alldays"/> All Days

            </span>

        </div>

        <div class="tasks_container">

            <div class="today_tasks">

                <h2> Today tasks </h2>

           </div>

            <div class="alldays_tasks" style="display:none;">

                <h2> All days tasks </h2>

                <div class="task" id="task33" draggable="true">

                    <span class="title">Test</span>

                </div>

                <div class="task" id="task34" draggable="true">

                    <span class="title">Test</span>

                </div>

                <div class="task" id="task35" draggable="true">

                    <span class="title">Test</span>

                </div>

            </div>

        </div>

    </div>

    <div class="align_right">

        <div class="status_container">

            <div class="status_box done_box">
                <span class="status_title">Done</span>
                <div class="drop_box drop_done" data-status="done">
                </div>
            </div>

            <div class="status_box reschedule_box">
                <span class="status_title">Reschedule</span>
                <div class="drop_box drop_reschedule" data-status="reschedule">
                </div>
            </div>

            <div class="status_box cancel_box">
                <span class="status_title">Cancel</span>
                <div class="drop_box drop_cancel" data-status="cancel">
                </div>
            </div>

        </div>

    </div>



    <div id="Reschedule">

        <div>
            <span class="reschedule_time" data-reschedule="same_day">Later Today</span>
            <span class="reschedule_time" data-reschedule="tomorrow">Tomorrow</span>
        </div>

    </div>
</body>


