<link rel="stylesheet" href="/assets/plugins/sidebar.html" />

<script id="task" type="text/html">
<div>
    <div class="task draggable" id= "task{{ id }}"> 
        <div class="content-left">
            <img class="action-icon" src={{ icon }}></img>
        </div>
        <div class="content-right">
            <div class="content-up"> 
                <div class="actionable-at">{{ actionable_at }}</div>
                <div class="details">
                    <div class="candidate-name"> {{ name }}</div>
                    <div class="project-name">{{ project }}</div> 
                </div>
            </div>
            <div class="content-down">
                <div class="counter-container">
                    <div style="float: right;" class="reschedule-icon"><span class="reschedule-count">{{ reschedule_count }}</span></div> 
                    <div style="float: right;" class="trial-icon"><span class="trial-count">{{ trial_count }}</span></div> 
                </div>
            </div>
        </div>
    </div> 
</div>
</script>
<script id="record_small" type="text/html">
<div>
    <div class="drop_data"> 
        <strong>{{ name }}</strong>: {{ actionable_at }}
    </div>
</div>
</script>
<body>
    <div id="task-page" class="quickdrop-records">
        <div class="date_selection">
            <span class="chkb_date">
                <input type="radio" class="date_radio" name="date_selection" value="today" checked/> Today
            </span>
            <span class="chkb_date">
                <input type="radio" class="date_radio" name="date_selection" value="alldays"/> All 
            </span>
        </div>
        <div class="tasks">
            <div class="today_tasks">
                <h2> Today tasks </h2>
                <div class="tasks_container"/>
           </div>
            <div class="all_tasks" style="display:none;">
                <h2> All tasks </h2>
                <div class="tasks_container"/>
            </div>
        </div>
    </div>
</body>
