<h2>Projects</h2>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
  			<thead>
  				<tr>
  					<th>Job Title</th>
  					<th>Company</th>
  					<th>Location</th>
  					<th>Hiring Manager</th>
  					<th>Job Description</th>
  					<th></th>
  					<th></th>
                    <th></th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr ng-repeat="project in projects.items | orderBy:'job_title':true">
  					<td>{{ project.job_title }}</td>
  					<td>{{ project.company }}</td>
  					<td>{{ project.location }}</td>
  					<td>{{ project.hiring_manager }}</td>
  					<td>{{ project.job_description }}</td>
  					<td>
              <button type="button" class="btn btn-info btn-sm"
                  project-management project="project">
                  <span class="glyphicon glyphicon-edit"></span> Edit
              </button>
            </td>
  					<td>
              <button type="button" class="btn btn-danger btn-sm"
                  ng-click="deleteProject(project)">
                  <span class="glyphicon glyphicon-remove"></span> Remove
              </button>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm" 
                    ng-click="goToRecords(project)">
                    <span class="glyphicon glyphicon-th-list"></span> Records
                </button>
            </td>
  				</tr>
  			</tbody>
  		</table>
	</div>
</div>
<div id="buttons" class="text-center">
    <button class="btn btn-primary btn-lg" project-management>
      Add new Project
    </button>
</div>
