<h2>Records</h2>
<div id="project_data">
  <h4>{{ projectData.project.company }} </h4>
  <h4>{{ projectData.project.job_description }} </h4>
  <h4>{{ projectData.project.hiring_manager }} </h4>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
  			<thead>
  				<tr>
  					<th>Name</th>
  					<th>Email</th>
            <th></th>
            <th></th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr ng-repeat="record in projectData.records.items">
  					<td>{{ record.name }}</td>
  					<td>{{ record.email }}</td>
  					<td>
              <button type="button" class="btn btn-info btn-sm"
                  record-management record="record" 
                  stageId"projectData.firstStage.id">
                  <span class="glyphicon glyphicon-edit"></span> Edit
              </button>
            </td>
  					<td>
              <button type="button" class="btn btn-danger btn-sm"
                  ng-click="deleteRecord(record)">
                  <span class="glyphicon glyphicon-remove"></span> Remove
              </button>
            </td>
  				</tr>
  			</tbody>
  		</table>
	</div>
</div>

<button class="btn btn-primary btn-lg" record-management
  stage-id="projectData.firstStage.id">
  Add new Record 
</button>