<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script id="urgent_task" type="text/html">
    <div>
        <div class="urgent-task" id= "urgent-task{{ id }}"> 
            <div class="candidate-name"> {{ name }}</div>
            <div class="job-title">{{ project }}</div> 
        </div>
    </div>
</script>
<script id="task" type="text/html">
    <div>
        <div class="task draggable" id= "task{{ id }}" draggable="true"> 
            <div class="content-left">
                <img class="action-icon" src={{ icon }}></img>
            </div>
            <div class="content-right">
                <div class="content-up"> 
                    <div class="details">
                        <div class="candidate-name"> {{ name }}</div>
                        <div class="job-title">{{ project }}</div> 
                    </div>
                    <div class="actionable-at">{{ actionable_at }}</div>
                </div>
                <div class="content-down">
                    <div class="counter-container">
                        <div style="float: right;" class="reschedule-icon"><span class="reschedule-count">{{ reschedule_count }}</span></div> 
                        <div style="float: right;" class="trial-icon"><span class="trial-count">{{ trial_count }}</span></div> 
                    </div>
                </div>
            </div>
        </div> 
    </div>
</script>

<script id="hourly_task_list" type="text/html">
    <div class="hourly-task-list">
        <div class="header">
            {{ hour }}
        </div>
    </div>
</script>
<script id="project" type="text/html">
    <div>
        <div class="project" id= "project #{{ id }}"> 
            <div class="row">
                <div class="job-title">
                    {{ job_title }}
                </div>
                <div class="location">
                    {{ location }}
                </div>
            </div>
            <div class="row">
                <div class="hiring-manager">
                    {{ hiring_manager }}
                </div>
            </div>
            <div class="row">
                <div class="records">
                    {{ num_records }}
                </div>
                <div class="company-logo">
                    <img src="{{ company_icon }}" class="company-logo-img">
                    </img>
                </div>
            </div>
        </div> 
    </div>
</script>
<body>
    <div id="home-page" class="sidebar-records">
        <div class="align_left">
            <div class="urgent-tasks">
                <div class="list-header">
                    URGENT TASKS
               </div>
                <div class="tasks-list">
                </div>
            </div>
        </div>
        <div class="align-middle">
            <div class="today-tasks">
                <div class="list-header">
                    TODAY'S TASKS
               </div>
                <div class="tasks-list">
                </div>
            </div>
        </div>
        <div class="align_right">
            <div id="projects">
                <div class="list-header">
                    PROJECTS
                </div>
                <div class="project-list">
                </div>
            </div>
        </div>
    </div>
</body>
