<script id="urgent_task" type="text/html">
    <div>
        <div class="urgent-task" id= "urgent-task{{ id }}"> 
            <div class="row">
                <div class="action-icon-wrapper">
                    <img class="action-icon" src="{{ icon }}"></img>
                </div>
                <div class="candidate-name"> {{ name }}</div>
                <div class="actionable-at"> {{ actionable_at }}</div>
            </div>
        </div>
    </div>
</script>
<script id="task" type="text/html">
    <div>
    <div class="task draggable" id= "task{{ id }}"> 
        <div class="content-left">
            <img class="action-icon" src={{ icon }}></img>
        </div>
        <div class="content-right">
            <div class="content-up"> 
                <div class="actionable-at">{{ actionable_at }}</div>
                <div class="details">
                    <div class="candidate-name"> {{ name }}</div>
                    <div class="project-name">{{ project }}</div> 
                </div>
            </div>
            <div class="content-down">
                <div class="counter-container">
                    <div style="float: right;" class="reschedule-icon"><span class="reschedule-count">{{ reschedule_count }}</span></div> 
                    <div style="float: right;" class="trial-icon"><span class="trial-count">{{ trial_count }}</span></div> 
                </div>
            </div>
        </div>
    </div> 
</div>
</script>
<script id="task_list" type="text/html">
    <div>
        <div class="header">
            {{ title }}
        </div>
    </div>
</script>
<script id="project" type="text/html">
    <div>
    <div class="project-wrapper">
        <a href="projects/{{ id }}/display.html">
            <div class="project" id= "project #{{ id }}"> 
                <div class="row">
                    <div class="job-title">
                        {{ job_title }}
                    </div>
                    <div class="location">
                        {{ location }}
                    </div>
                </div>
                <div class="row">
                    <div class="hiring-manager">
                        {{ hiring_manager }}
                    </div>
                </div>
                <div class="row">
                    <div class="records">
                        {{ num_records }} RECORDS
                    </div>
                    <div class="company-name">
                        {{ company }}
                    </div>
                </div>
            </div> 
        </a>
    </div>
</div>
</script>
<body id="home-page">
    <div id="home-page" class="quickdrop-records auto-resize">
        <div class="urgent-tasks-big" style="display:none;">
            <div class="list-header">
                URGENT TASKS
           </div>
            <div class="item-list">
            </div>
        </div>
        <div class="underlay auto-resize">
            <div class="align-left">
                <div class="urgent-tasks">
                    <div class="list-header">
                        URGENT TASKS
                   </div>
                    <div class="item-list">
                    </div>
                </div>
            </div>
            <div class="align-middle">
                <div class="today-tasks">
                    <div class="list-header">
                        TODAY'S TASKS
                   </div>
                    <div class="item-list">
                    </div>
                </div>
                <div class="later-tasks">
                    <div class="list-header">
                        LATER TASKS
                   </div>
                    <div class="item-list">
                    </div>
                </div>
            </div>
            <div class="align-right">
                <div class="projects">
                    <div class="list-header">
                        PROJECTS
                    </div>
                    <div class="item-list">
                    </div>
                </div>
            </div>
        </div>

        <br style="clear:both;"/>
    </div>
</body>
