<table>
    <tr>
        <td>
            <img src="http://www.geraldheralds.com/wp-content/uploads/2009/01/org_effectiveness.jpg">
        </td>
        <td>
            <h3>THE APP THAT MAKES RECRUITING THINGS DONE</h3>
        </td>
    </tr>
</table>

