<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script id="record" type="text/html">
<div>
    <div class="record draggable" id="{{ id }}" data-server-id="{{ id }}"> 
            <div class="content-up"> 
                <div class="actionable-at">{{ actionable_at }}</div>
                <div class="candidate-name"> {{ name }}</div>
            </div>
            <div class="content-down">
                <div class="counter-container">
                    <div class="reschedule-icon icon"><span class="reschedule-count">{{ reschedule_count }}</span></div> 
                    <div class="trial-icon icon"><span class="trial-count">{{ trial_count }}</span></div> 
                </div>
            </div>
    </div> 
</div>
</script>
<script id="new_record" type="text/html">
    <div class="new-record-dialog" title="{{ title }}">
        <form accept-charset="UTF-8" action="/records" class="new_record" id="new_record" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
        </form>
    </div>
</script>
<script id="stage" type="text/html">
    <div> 
        <div class="header" data-server-id="{{ id }}">
            <div class="left">
                <div class="name">
                    {{ name }}
                </div>
                <img src="/assets/icons/icon_plus.png" class="add" data-server-id="{{ id }}">
            </div>
            <div class="right">
                <img class="stage-image" src="{{ img }}">
                </img>
            </div>
        </div>
    </div>
</script>
<script id="project" type="text/html">
    <div class="header-left">
        {{ name }}
    </div>
    <div class="header-right">
        <div class="right">
            <%= link_to 'Edit', edit_project_path(@current_project) %></td>
        </div>
        <div class="right">
            <%= link_to 'Destroy', @current_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
    </div>
    
</script>
<body id="project-page" project-id="<%= @current_project.id%>">
    <div class="quickdrop-records">
        <div class="board">
            <div class="project-header">
                <div class="project-container">
                    <div class="project-name">
                    </div>
                </div>
            </div>
            <div class="stages">
            </div>
        </div>
    </div>
</body>
