$task-background-color: #CCFFCC;

body
{
    font-weight: normal;
    font-size: 100%;
    font-family: Arial,Helvetica,sans-serif;
}

#home-page {

    .tasks-list
    {
        margin-top: 10px;
        background-color: yellow;
        border: 1px solid #676767;
        box-shadow: 3px 3px 2px #888888;
        border-width:2px;
        border-radius: 15px;
    }
    .today-tasks {
        .hourly-task-list {
            .header {
                color: white;
                background-color: gray;
            }
        }
    }
    .by-project-task-list {
            .header {
                color: white;
                background-color: gray;
            }
    }
    .list-header
    {
        color: gray;
        font-family:tahoma, arial, 'sans-serif';
        font-size: 170%;
        font-weight:bold;

    }
    .job-title {
        color: #333333;
        font-family: Impact, Charcoal, sans-serif;
        font-size: 15px;
    }


    .align-left {
        float: left;
        width: 20%;
        margin-left: 2%;
        margin-top: 2%;
    }
    .align-middle
    {
        float: left;
        width: 39%;
        margin-left:5%;
        margin-top: 2%;
    }

    .align-right {
        float: right;
        width:30%;
        margin-top: 2%;
    }

    .date_selection
    {
    width:300px;
    margin:0 auto;
    }

    .chkb_date
    {
    padding: 0 35px;
    }

    .task
    {
        .details {
        float: left;
        }

        .candidate-name {
        color: #333333;
        font-family: Copperplate, Copperplate Gothic Light, sans-serif;
        font-size: 20px;
        }
        .content-left {
            float:left;
        }

        .content-right {
        float:left;
        padding-left:15px;
        }
        .content-up {
        min-width: 320px;
        min-height: 40px;
        }
        .content-down {
        min-width: 320px;
        }

        .action-icon {
        width: 80px;
        height: 80px; 
        }

        .counter-container {
        float: right;
        padding-right: 10px;
        }

        .actionable-at {
        float: right;
        position: relative;
        right: 10px;
        color: #333333;
        font-family: Impact, Charcoal, sans-serif;
        font-size: 15px;
        }


        .trial-icon{
        background: url(http://www.title1project.com/2013Conf/clip-art0020.jpeg) no-repeat;
        background-size: 100% 100%;
        width: 40px;
        height: 40px;
        border: none;
        display:inline-block;
        position:relative;
        text-decoration:none;
        }

        .trial-count {
        position:absolute;
        top:-4px;
        right:-4px;
        background-color:#FF0000;
        color:#fff;
        padding:2px;
        font-family:tahoma, arial, 'sans-serif';
        font-size:9px;
        font-weight:bold;
        }

        color: #676767;
        font-size: 12px;
        height: 80px;
        padding: 10px 5px;
        margin: 10px;
        border: 1px solid #676767;
        box-shadow: 3px 3px 2px #888888;
        border-width:2px;
        border-radius: 15px;
        background-color: $task-background-color;
    }

    .status_container
    {
    position:fixed;
    width:300px;
    margin:0 auto;
    }

    .status_box
    {
    width:100%;
    padding: 10px 0;
    }

    .status_title
    {
    font-size: 13px;
    font-weight: bold;
    }


    .reschedule_box 
    {
    border: 1px solid orange;
    }


    .reschedule_box 
    {
    background-color: #fde0b5;
    }

    .ui-widget-header 
    {
    display:none !important;
    }


    .ui-dialog .ui-dialog-content {
    border: 0;
    padding: .5em 1em;
    background-color: $task-background-color !important;
    overflow: auto;
    zoom: 1;
    opacity: 0.7;
    box-shadow: 5px 5px 2px #888888;
    border-color: #676767;
    background-color: $task-background-color;
    border-width:2px;
    border: 1px solid #676767;
    border-radius: 15px;
    }
    .reschedule-option-img {
    width: 150px;
    height: 150px;
    }
    .reschedule-option-next-line {
    clear:both;
    }
    .reschedule-option {
    float: right;
    }
    .reschedule-icon{
    background: url(http://www.clipartheaven.com/clipart/time/alarm_clock_03.gif) no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    border: none;
    display:inline-block;
    position:relative;
    text-decoration:none;
    }

    .reschedule-count {
    position:absolute;
    top:-4px;
    right:-4px;
    background-color:#FF0000;
    color:#fff;
    padding:2px;
    font-family:tahoma, arial, 'sans-serif';
    font-size:9px;
    font-weight:bold;
    }
    #projects 
    {
        .project
        {
            .hiring-manager {
                color: #333333;
                font-family: Copperplate, Copperplate Gothic Light, 'sans-serif';
                font-size: 120%;
            }

            .row {
                width: 100%;
                margin-left: 1.5%;
                margin-top: 2%;
            }
            .job-title {
                float:left;
                margin-right: 2%;
            }
            .location {
                float: left;
                position: absolute;
                right: 0px;
                margin-right: 1.5%;
            }
            .company-logo 
            {
                float: right;
                position: absolute;
                bottom: 0px;
                right: 0px;
                margin-right: 1.5%;
                margin-bottom: 1.5%;
                height: 40%;
                width:40;
            }
            .company-logo-img
            {
                height: 100%;
            }
            position: relative;
            border: 11px solid rgb(126, 109, 42);
            height: 100px;
            width: 100%;
            margin-top: 25px;
            box-shadow: 5px 6px 3px #888888;
            background-color: rgb(255, 243, 204);
            border-width: 6px;
            border-radius: 4px;
         }
         width: 100%%;
    }

}
