$task-background-color: #CCFFCC;

.auto-resize {
    min-height: 1px;
    float: left;
    width: 100%;
}
body
{
    font-weight: normal;
    font-size: 100%;
    font-family: Arial,Helvetica,sans-serif;
}
.list-header {
        color: gray;
        font-family:tahoma, arial, 'sans-serif';
        font-size: 170%;
        font-weight:bold;
    }
.urgent-tasks-big {
    .list-header {
        margin-top: 80px;
        text-align: center;
    }

    .item-list {
        background-color: red;
        box-shadow: 3px 3px 2px #ffffff;
        margin-top: 30px;
    }
}

.task-list {
    .header {
        background-color: gray;
        color: white;
        font-family: Century Gothic, sans-serif;
        font-size: 100%;
        padding-left: 2%;
    }
}
.item-list {
    margin-top: 10px;
    border: 1px solid #676767;
    box-shadow: 3px 3px 2px #888888;
    border-width:2px;
    border-radius: 15px;
    overflow: hidden;
}

#home-page {

    .underlay {
        width: 100%;
    }
    .urgent-tasks {
        .item-list {
            background-color: red;
        }
    }
    .today-tasks {
        .item-list {
            background-color: rgb(235, 235, 98);
        }
    }
    .later-tasks {
        margin-top: 30px;
        .item-list {
            background-color: rgb(200, 235, 98);
        }
    }

    .task-list {
            .header {
                color: white;
                background-color: gray;
            }
            .urgent-task {
                .row {
                    width: 100%;
                    margin-left: 1%;
                }
                .action-icon-wrapper {
                    float: left;
                    width: 12%
                }
                .action-icon {
                    width: 20px;
                    height: 20px;
                }
                .candidate-name {
                    float: left;
                    width: 80%;
                }
            }
    }
    .job-title {
        color: #333333;
        font-family: Impact, Charcoal, sans-serif;
        font-size: 15px;
    }


   .align-left {
        float: left;
        width: 20%;
        margin-left: 2%;
        margin-top: 2%;
    }
    .align-middle
    {
        float: left;
        width: 39%;
        margin-left:5%;
        margin-top: 2%;
    }

    .align-right {
        float: right;
        width:30%;
        margin-top: 2%;
        margin-right:2%;
    }

    .task {
        .details {
            overflow: hidden;
        }

        .candidate-name {
            color: #333333;
            font-family: Copperplate, Copperplate Gothic Light, sans-serif;
            font-size: 20px;
        }
        .candidate-name ,
        .project-name {
            overflow: hidden;
            padding-right: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .content-left {
            float:left;
            width: 80px;
            height:80px
        }

        .content-right {
            height:100%;
            padding-left:15px;
            overflow:hidden;
        }
        .content-up {
            min-width: 320px;
            min-height: 40px;
        }
        .content-down {
            min-width: 320px;
        }

        .action-icon {
        width: 80px;
        height: 80px; 
        }

        .counter-container {
        float: right;
        padding-right: 10px;
        }

        .actionable-at {
        float: right;
        position: relative;
        right: 10px;
        color: #333333;
        font-family: Impact, Charcoal, sans-serif;
        font-size: 15px;
        }


        .trial-icon{
        background: url(http://www.title1project.com/2013Conf/clip-art0020.jpeg) no-repeat;
        background-size: 100% 100%;
        width: 40px;
        height: 40px;
        border: none;
        display:inline-block;
        position:relative;
        text-decoration:none;
        }

        .trial-count {
        position:absolute;
        top:-4px;
        right:-4px;
        background-color:#FF0000;
        color:#fff;
        padding:2px;
        font-family:tahoma, arial, 'sans-serif';
        font-size:9px;
        font-weight:bold;
        }

        color: #676767;
        font-size: 12px;
        height: 80px;
        padding: 10px 5px;
        margin: 10px;
        border: 1px solid #676767;
        box-shadow: 3px 3px 2px #888888;
        border-width:2px;
        border-radius: 15px;
        background-color: $task-background-color;

        .reschedule-icon{
            background: url(http://www.clipartheaven.com/clipart/time/alarm_clock_03.gif) no-repeat;
            background-size: 100% 100%;
            width: 40px;
            height: 40px;
            border: none;
            display:inline-block;
            position:relative;
            text-decoration:none;
        }

        .reschedule-count {
            position:absolute;
            top:-4px;
            right:-4px;
            background-color:#FF0000;
            color:#fff;
            padding:2px;
            font-family:tahoma, arial, 'sans-serif';
            font-size:9px;
            font-weight:bold;
        }
    }
    .projects 
    {
        .item-list {
            background-color: rgb(187, 187, 197);
        }
        .project-wrapper {
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 25px;
        }
        .project {
            position: relative;
            border: 11px solid rgb(126, 109, 42);
            height: 100px;
            width: 100%;
            box-shadow: 5px 6px 3px #888888;
            background-color: rgb(255, 243, 204);
            border-width: 6px;
            border-radius: 4px;
            -webkit-box-sizing: border-box;
             
            .hiring-manager {
                color: #333333;
                font-family: Copperplate, Copperplate Gothic Light, 'sans-serif';
                font-size: 120%;
            }

            .row {
                width: 100%;
                margin-left: 1.5%;
                margin-top: 2%;
            }
            .job-title {
                float:left;
                margin-right: 2%;
            }
            .location {
                float: left;
                position: absolute;
                right: 0px;
                margin-right: 1.5%;
            }
            .company-logo 
            {
                float: right;
                position: absolute;
                bottom: 0px;
                right: 0px;
                margin-right: 1.5%;
                margin-bottom: 1.5%;
                height: 40%;
                width:40;
            }
            .company-logo-img
            {
                height: 100%;
            }
         }
         width: 100%%;
    }
}
