body#project-page {
    width:100%;

        .stage {
            .header {
                    margin:4px 6px;
                    height: 75px;
                 .left {
                        float: left;
                        width: 50%;
                        height: 100%;
                        position:relative;
                    .name {
                        color: rgb(44, 44, 82);
                        font-size: 100%;
                    }
                    .add {
                        cursor:pointer;
                        position:absolute;
                        font-size: 14px !important;
                        bottom: 3px;
                        right:9px;
                    }
                }
                .right {
                    float: left;
                    width: 50%;
                    height: 100%;
                    .stage-image {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        float: left;
        min-height: 50px;
        background-color: rgb(162, 153, 153);
        margin-left: 1%;
        border-radius: 15px;
        -webkit-box-sizing: border-box;
    }
    .board {
        margin-left: 2%;
        margin-right: 2%;
        .stages {
            height: 1000px;
            //margin: 5px 5px 1% 1%;
        }
        .project-header {
                min-height: 1px;
                float: left;
                width: 100%;
                margin-bottom: 12px;
                margin-top: 12px;
                font-color: #778844;
                color: rgb(82, 43, 109);
                .element {
                    float: left;
                    display: inline;
                }
                .header-left {
                    float: left;
                    width: 20%;
                }
                .header-right {
                    float: right;
                    width: 80%;
                    .right {
                        margin-left: 1%;
                        float: right;
                    }
                }
            }
    }
    .record-container {
        height: 80px;
        margin-bottom: 10px;
        margin-left: 3%;
        margin-right: 3%;
        .record {
            width: 100%;
            .details {
                width: 65%;
                float: left;
            }

            .candidate-name {
                width: 100%%;
                color: #333333;
                font-family: Copperplate / Copperplate Gothic Light, sans-serif;
                font-size: 100%;
            }
            .content-up {
                height: 50%;
                margin-left: 3%;
                margin-right: 3%;
                margin-top: 2%;
            }
            .content-down {
                width: 100%;
                height: 50%;
            }

            .counter-container {
                float: right;
                margin-right: 5%;
                //width: 100%;
            }

            .trial-count {
                position:absolute;
                top:-4px;
                right:-4px;
                background-color:#FF0000;
                color:#fff;
                padding:2px;
                font-family:tahoma, arial, 'sans-serif';
                font-size:100%;
                font-weight:bold;
            }

            .reschedule-icon{
                background: url(icons/clock.gif) no-repeat;
                background-size: 100% 100%;
            }

            .reschedule-count {
                position:absolute;
                top:-4px;
                right:-4px;
                background-color:#FF0000;
                color:#fff;
                padding:2px;
                font-family:tahoma, arial, 'sans-serif';
                font-size:100%;
                font-weight:bold;
            }
            .actionable-at {
                width: 25%;
                float: right;
                position: relative;
                right: 10px;
                color: #333333;
                font-family: Impact, Charcoal, sans-serif;
                font-size: 70%;
                line-height: 130%;
            }

        .icon {
                float: right;
                width: 30px;
                height: 30px;
                font-size: 30%;
                border: none;
                display:inline-block;
                position:relative;
                text-decoration:none;
            }

            .trial-icon{
                background: url(icons/trial.jpeg) no-repeat;
                background-size: 100% 100%;
            }

            .trial-count {
                position:absolute;
                top:-4px;
                right:-4px;
                background-color:#FF0000;
                color:#fff;
                padding:2px;
                font-family:tahoma, arial, 'sans-serif';
                font-size:100%;
                font-weight:bold;
            }


            color: #676767;
            font-size: 100%;
            border: 1px solid #676767;
            -webkit-box-sizing: border-box;
            //padding: 10px 5px;
            height: 100%;
            box-shadow: 3px 3px 2px #888888;
            background-color: yellow;
            border-width:2px;
            border-radius: 15px;
        }
    }

    .recordDialog{
        .ui-dialog-title{
            font-size:15px;
        }
        .ui-button-text{
            font-size:14px;
        }
    }

    
}



