#project-page {
    width:100%;
    .project-name {
        font-color: #778844;
        color: rgb(82, 43, 109);
        margin-left: 2%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .stage {
            .header {
                    margin:10px;
                    height: 60px;
                .title {
                    float: left;
                    color: rgb(44, 44, 82);
                    font-size: 100%;
                    width: 50%;
                }
                .stage-image {
                    float: left;
                    width: 40%;
                }
            }
        float: left;
        min-height: 50px;
        background-color: rgb(162, 153, 153);
        margin-left: 1%;
        border-radius: 15px;
        -webkit-box-sizing: border-box;
    }
    .board {
        .stages {
            //width: 100%;
            margin: 5px 5px 1% 1%;
        }
        margin-left: 2px;
        margin-right: 2px;
        height: 1000px;
        width: 100%;
    }
    .task-container {
        height: 80px;
        margin-bottom: 10px;
        margin-left: 3%;
        margin-right: 3%;
        .task {
            width: 100%;
            .details {
                width: 65%;
                float: left;
            }

            .candidate-name {
                width: 100%%;
                color: #333333;
                font-family: Copperplate / Copperplate Gothic Light, sans-serif;
                font-size: 100%;
            }
            .content-up {
                height: 50%;
                margin-left: 3%;
                margin-right: 3%;
                margin-top: 2%;
            }
            .content-down {
                width: 100%;
                height: 50%;
            }

            .counter-container {
                float: right;
                margin-right: 5%;
                //width: 100%;
            }

            .trial-count {
                position:absolute;
                top:-4px;
                right:-4px;
                background-color:#FF0000;
                color:#fff;
                padding:2px;
                font-family:tahoma, arial, 'sans-serif';
                font-size:100%;
                font-weight:bold;
            }

            .reschedule-icon{
                background: url(http://www.clipartheaven.com/clipart/time/alarm_clock_03.gif) no-repeat;
                background-size: 100% 100%;
            }

            .reschedule-count {
                position:absolute;
                top:-4px;
                right:-4px;
                background-color:#FF0000;
                color:#fff;
                padding:2px;
                font-family:tahoma, arial, 'sans-serif';
                font-size:100%;
                font-weight:bold;
            }
            .actionable-at {
                width: 25%;
                float: right;
                position: relative;
                right: 10px;
                color: #333333;
                font-family: Impact, Charcoal, sans-serif;
                font-size: 70%;
                line-height: 130%;
            }

        .icon {
                float: right;
                width: 30px;
                height: 30px;
                font-size: 30%;
                border: none;
                display:inline-block;
                position:relative;
                text-decoration:none;
            }

            .trial-icon{
                background: url(http://www.title1project.com/2013Conf/clip-art0020.jpeg) no-repeat;
                background-size: 100% 100%;
            }

            .trial-count {
                position:absolute;
                top:-4px;
                right:-4px;
                background-color:#FF0000;
                color:#fff;
                padding:2px;
                font-family:tahoma, arial, 'sans-serif';
                font-size:100%;
                font-weight:bold;
            }


            color: #676767;
            font-size: 100%;
            border: 1px solid #676767;
            -webkit-box-sizing: border-box;
            //padding: 10px 5px;
            height: 100%;
            box-shadow: 3px 3px 2px #888888;
            background-color: yellow;
            border-width:2px;
            border-radius: 15px;
        }
    }
}
