$task-background-color: #CCFFCC;

body
{
    font-weight: normal;
    font-size: 100%;
    font-family: Arial,Helvetica,sans-serif;
}

#task-page {
    width: 70%;
    margin: 0 auto;
    }

    .align_right
    {
    float: right;
    width:30%;
    }

    .date_selection
    {
    width:300px;
    margin:0 auto;
    }

    .chkb_date
    {
    padding: 0 35px;
    }

    .tasks_container
    {
    width:500px; 
    margin:0 auto;
    }

    .task
    {
    color: #676767;
    font-size: 12px;
    border: 1px solid #676767;
    height: 80px;
    padding: 10px 5px;
    margin: 10px;
    box-shadow: 3px 3px 2px #888888;
    background-color: $task-background-color;
    border-width:2px;
    border-radius: 15px;
    }

    .status_container
    {
    position:fixed;
    width:300px;
    margin:0 auto;
    }

    .status_box
    {
    width:100%;
    padding: 10px 0;
    }

    .status_title
    {
    font-size: 13px;
    font-weight: bold;
    }

    .drop_box
    {
    width:100%;
    height:100px;
    }

    .done_box .drop_box
    {
    border: 1px solid green;
    }

    .reschedule_box .drop_box
    {
    border: 1px solid orange;
    }

    .reject_box .drop_box
    {
    border: 1px solid red;
    }

    .done_box .status_title
    {
    color:green;
    }

    .reschedule_box .status_title
    {
    color:orange;
    }

    .reject_box .status_title
    {
    color:red;
    }

    .drop_data
    {
    padding:5px 3px;
    margin:4px 0;
    color: #676767;
    font-size: 10px;
    }

    .done_box .drop_data
    {
    background-color: #fde0b5;
    }

    .reschedule_box .drop_data
    {
    background-color: #fde0b5;
    }

    .reject_box .drop_data
    {
    background-color: #facdc0;
    }

    .ui-widget-header 
    {
    display:none !important;
    }


    .details {
        overflow: hidden;
    }

    .candidate-name {
        color: #333333;
        font-family: Copperplate / Copperplate Gothic Light, sans-serif;
        font-size: 20px;
    }
    .candidate-name ,
    .project-name {
        overflow: hidden;
        padding-right: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .content-left {
        float:left;
        width: 80px;
        height:80px
    }

    .content-right {
        height:100%;
        padding-left:15px;
        overflow:hidden;
    }
    .content-up {
    min-width: 320px;
    min-height: 40px;
    }
    .content-down {
    min-width: 320px;
    }

.action-icon {
    width: 100%;
    height: 100%;
    }

    .counter-container {
    float: right;
    padding-right: 10px;
    }

    .actionable-at {
    float: right;
    position: relative;
    right: 10px;
    color: #333333;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 15px;
    }


    .project-name {
    color: #333333;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 15px;
    }

    .trial-icon{
    background: url(http://www.title1project.com/2013Conf/clip-art0020.jpeg) no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    border: none;
    display:inline-block;
    position:relative;
    text-decoration:none;
    }

    .trial-count {
    position:absolute;
    top:-4px;
    right:-4px;
    background-color:#FF0000;
    color:#fff;
    padding:2px;
    font-family:tahoma, arial, 'sans-serif';
    font-size:9px;
    font-weight:bold;
    }

    .ui-dialog .ui-dialog-content {
        border: 0;
        padding: .5em 1em;
        background-color: $task-background-color !important;
        overflow: auto;
        zoom: 1;
        opacity: 0.7;
        box-shadow: 5px 5px 2px #888888;
        border-color: #676767;
        background-color: $task-background-color;
        border-width:2px;
        border: 1px solid #676767;
        border-radius: 15px;
    }
    
    .reschedule-option-img {
    width: 150px;
    height: 150px;
    }
    .reschedule-option-next-line {
    clear:both;
    }
    .reschedule-option {
    float: right;
    }
    .reschedule-icon{
    background: url(http://www.clipartheaven.com/clipart/time/alarm_clock_03.gif) no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    border: none;
    display:inline-block;
    position:relative;
    text-decoration:none;
    }

    .reschedule-count {
    position:absolute;
    top:-4px;
    right:-4px;
    background-color:#FF0000;
    color:#fff;
    padding:2px;
    font-family:tahoma, arial, 'sans-serif';
    font-size:9px;
    font-weight:bold;
    }

.reschedule-option-img{
    width:60px;
    height:60px;
}

.reschedule-dialog{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 0;
    padding: .5em 1em;
    background-color: $task-background-color !important;
    box-shadow: 5px 5px 2px #888888;
    border-color: #676767;
    background-color: $task-background-color;
    border-width:2px;
    border: 1px solid #676767;
   
}


