.candidate-name {
    color: #333333;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    font-size: 20px;
}

.trial-icon{
background: url(http://www.title1project.com/2013Conf/clip-art0020.jpeg) no-repeat;
 background-size: 100% 100%;
width: 40px;
height: 40px;
border: none;
display:inline-block;
position:relative;
    text-decoration:none;
}

.trial-count {
    position:absolute;
    top:-4px;
    right:-4px;
    background-color:#FF0000;
    color:#fff;
    padding:2px;
    font-family:tahoma, arial, 'sans-serif';
    font-size:9px;
    font-weight:bold;
}

.reschedule-icon{
background: url(http://www.clipartheaven.com/clipart/time/alarm_clock_03.gif) no-repeat;
 background-size: 100% 100%;
width: 40px;
height: 40px;
border: none;
display:inline-block;
position:relative;
    text-decoration:none;
}

.reschedule-count {
    position:absolute;
    top:-4px;
    right:-4px;
    background-color:#FF0000;
    color:#fff;
    padding:2px;
    font-family:tahoma, arial, 'sans-serif';
    font-size:9px;
    font-weight:bold;
}
