body
{
    font-weight: normal;
    font-family: Arial,Helvetica,sans-serif;
}

.align_left
{
    float: left;
    width: 70%;
}

.align_right
{
    float: right;
    width:30%;
}

.date_selection
{
    width:300px;
    margin:0 auto;
}

.chkb_date
{
    padding: 0 35px;
}

.tasks_container
{
    width:450px; 
    margin:0 auto;
}

.task
{
    color: #676767;
    font-size: 12px;
    border: 1px solid #676767;
    height: 80px;
    padding: 10px 5px;
    margin: 10px;
    box-shadow: 3px 3px 2px #888888;
    background-color: #CCFFCC;
    border-width:2px;
    border-radius: 15px;
}

.status_container
{
    position:fixed;
    width:300px;
    margin:0 auto;
}

.status_box
{
    width:100%;
    padding: 10px 0;
}

.status_title
{
    font-size: 13px;
    font-weight: bold;
}

.drop_box
{
    width:100%;
    height:100px;
}

.done_box .drop_box
{
    border: 1px solid green;
}

.reschedule_box .drop_box
{
    border: 1px solid orange;
}

.cancel_box .drop_box
{
    border: 1px solid red;
}

.done_box .status_title
{
    color:green;
}

.reschedule_box .status_title
{
    color:orange;
}

.cancel_box .status_title
{
    color:red;
}

.drop_data
{
    padding:5px 3px;
    margin:4px 0;
    color: #676767;
    font-size: 10px;
}

.done_box .drop_data
{
    background-color: #e6f3e2;
}

.reschedule_box .drop_data
{
    background-color: #fde0b5;
}

.cancel_box .drop_data
{
    background-color: #facdc0;
}

.ui-widget-header 
{
    display:none !important;
}


.details {
    float: left;
}

.candidate-name {
    color: #333333;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    font-size: 20px;
}
.content-left {
    float:left;
}

.content-right {
    float:left;
    padding-left:15px;
}
.content-up {
    min-width: 320px;
    min-height: 40px;
}
.content-down {
    min-width: 320px;
}

.action-icon {
    width: 80px;
    height: 80px; 
}

.counter-container {
    float: right;
    padding-right: 10px;
}

.actionable-at {
    float: right;
    position: relative;
    right: 10px;
    color: #333333;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 15px;
}


.project-name {
    color: #333333;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 15px;
}

.trial-icon{
    background: url(http://www.title1project.com/2013Conf/clip-art0020.jpeg) no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    border: none;
    display:inline-block;
    position:relative;
    text-decoration:none;
}

.trial-count {
    position:absolute;
    top:-4px;
    right:-4px;
    background-color:#FF0000;
    color:#fff;
    padding:2px;
    font-family:tahoma, arial, 'sans-serif';
    font-size:9px;
    font-weight:bold;
}

.reschedule-icon{
    background: url(http://www.clipartheaven.com/clipart/time/alarm_clock_03.gif) no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    border: none;
    display:inline-block;
    position:relative;
    text-decoration:none;
}

.reschedule-count {
    position:absolute;
    top:-4px;
    right:-4px;
    background-color:#FF0000;
    color:#fff;
    padding:2px;
    font-family:tahoma, arial, 'sans-serif';
    font-size:9px;
    font-weight:bold;
}
