<!DOCTYPE html>
<html lang="en" data-ng-app="yidlyApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Yidly" %></title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag "application", :media => "all" %>
		
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

		<style>
		body, html {
  			height: 100%;
		}
		body{
	        width: 100%;
	        height: 100%;
	    }
		</style>
		
	</head>
	<body>
		<div class="container-fluid">
			<div data-ng-view />
		</div>
		<!--<div id="sp-nav" class="menu_container">
			<ul>
				<li> <a href="/">Home</a></li>
				<li> <a href="#/projects">Projects</a></li>
			</ul>
		</div>

		<div id="sp-page" class="menu_strip">
  			<button type="button" class="btn btn-default"
  				ng-click="$spMenu.toggle()">
  				<span class="glyphicon glyphicon-align-justify"></span> 
  			</button>
  			<div class="page">
  				<div data-ng-view />
  			</div>-->
		<%= javascript_include_tag "application" %>
  		</div>
		
		
	</body>
</html>